node_modules/
.env
.env.*
!.env.example
chroma_db/
*.log
logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
.venv/
dist/
build/
coverage/
.cache/
.tmp/
.vscode/
.idea/
veritas-54208-firebase-adminsdk-fbsvc-ae40e4df98.json
*firebase-adminsdk*.json
